

---


# Ejercicios Variables, tipos de datos, operadores aritméticos y relacionales


---

## Ejercicio 1

+ Crear una variable y asigne el valor 29
+ Crear otra variable y asigne el valor 3
+ Calcular e imprimir el valor de la siguiente operación: la primera variable multiplicada por 5 más la segunda variable dividida por 2

In [ ]:
x = 29
y = 3
r = 5*x + y/2
print(r)

146.5

## Ejercicio 2

Calcular e imprimir el resultado de las siguientes operaciones:

+ $(\frac{3+2}{2*5})^2$
+ $\frac{2}{3+5} + 2$
+ $3^2 + (5*2 - 7)$

In [ ]:
a = ((3+2)/(2*5))**2
print(a)
a = 2/(3+5) + 2
print(a)
a = 3**2 + (5*2 - 7)
print(a)

0.25
2.25
12

## Ejercicio 3

Leer un entero positivo, ***n***,  y después muestre en pantalla la suma de todos los enteros desde 1 hasta ***n***. La suma de los  primeros enteros positivos puede ser calculada de la siguiente forma:

$suma = \frac{n*(n+1)}{2}$

In [ ]:
n = int(input("n = "))
suma = n*(n+1)/2
print(suma)

n = 3
6.0

## Ejercicio 4

Lea el número de horas trabajadas y el valor por hora. Después debe imprimir el sueldo que le corresponde que se calcula de acuerdo con la fórmula:

$sueldo = valor_{hora} * cantidad_{horas}$

In [ ]:
valor_hora = int(input("Valor hora = "))
cantidad_horas = int(input("Cantidad horas = "))
sueldo = valor_hora*cantidad_horas
print(sueldo)

Valor hora = 15000
Cantidad horas = 4
60000

## Ejercicio 5

Una juguetería tiene mucho éxito en dos de sus productos: payasos y muñecas. Suele hacer venta por correo y la empresa de logística les cobra por peso de cada paquete así que deben calcular el peso de los payasos y muñecas que saldrán en cada paquete a demanda. Cada payaso pesa 112 gramos y cada muñeca 75 gramos. Escribir el código necesario para leer el número de payasos y muñecas vendidos en el último pedido y calcule el peso total del paquete que será enviado.

In [ ]:
numero_payasos = int(input("Nro. payasos = "))
numero_munecas = int(input("Nro. muñecas = "))
valor_pagar = numero_payasos*112 + numero_munecas*75
print("Valor pagar = ", valor_pagar)

Nro. payasos = 3
Nro. muñecas = 5
Valor pagar =  711



---


# Ejercicios Listas


---

## Ejercicio 1 

Considerando la lista:


```
lista = [23,56,67,2,12,90,34,15]
```


Agregar los elementos en la lista: 29, 15, 62

In [ ]:
lista = [23,56,67,2,12,90,34,15]
print(lista)
lista.append(29)
lista.append(15)
lista = lista + [62] # Una forma distinta de agregar
print(lista)

[23, 56, 67, 2, 12, 90, 34, 15]
[23, 56, 67, 2, 12, 90, 34, 15, 29, 15, 62]

## Ejercicio 2

Considerando la lista resultante del ejercicio anterior, escriba las instrucciones para: 
+ Eliminar el 56 de la lista
+ Imprimir contenido de la lista 
+ Imprimir el total de elementos de la lista

In [ ]:
lista.remove(56)
print(lista)
print(len(lista))

[23, 67, 2, 12, 90, 34, 15, 29, 15, 62]
10

## Ejercicio 3

Convierta la lista 


```
a=[1,[2,[3,4]],5]
```
Escriba las instrucciones necesarias para convertir la lista en

[1,[2,[3, 4],[6,7]], 5]

In [ ]:
a = [1,[2,[3,4]],5]
a[1].append([6,7])
print(a)

[1, [2, [3, 4], [6, 7]], 5]

## Ejercicio 4

Asigne a una variable la cadena "esto es un ejemplo" y luego imprima por pantalla la
cadena "un ejemplo es esto" utilizando slices.

In [ ]:
cadena = "esto es un ejemplo"
palabras = cadena.split(" ")
primero = palabras[len(palabras)-2] + " " + palabras[-1]
segundo = " " + palabras[0] + " " + palabras[1]
print(primero + segundo)

un ejemplo esto es



---


# Ejercicios Tuplas


---

## Ejercicio 1

Escribir las intrucciones necesarias para:

+ Almacenar las siguientes asignaturas en una lista: Matemáticas, Física, Química, Historia y Lengua).
+ Leer un número entero que indica una ubicación dentro de la lista.
+ Leer un número decimal que represente la nota de esa asignatura.
+ Genere una tupla que contenga el nombre de la asignatura y la nota ingresada.
+ Imprimir la tupla creada.

In [ ]:
asignaturas = ['Matemáticas', 'Física', 'Química', 'Historia', 'Lengua']
# Lee el número entero y la nota
ubicacion = int(input("Ubicación = "))
nota = float(input("Nota = "))
# Crea la tupla
t = (asignaturas[ubicacion-1], nota)
# Imprime la tupla
print(t)

Ubicación = 2
Nota = 3.5
('Física', 3.5)

## Ejercicio 2

Escriba las instrucciones necesarias para:

+ Crea una tupla con los valores: 12, 267, 29, 6, 15, 9 
+ Leer un índice por teclado y mostrar el valor guardado en la ubicación indica por el índice

In [ ]:
# Crea la tupla
t = (12,267,29,6,15,9)
# Lee el índice por teclado
indice = int(input("Indice = "))
print(t[indice])

Indice = 3
6



---


# Ejercicios Conjuntos


---

## Ejercicio 1

Escriba las instrucciones necesarias para:

+ Crear 2 conjuntos ***A*** de 5 elementos y ***B*** de 7 elementos
+ Imprima en pantalla el conjunto resultante de unir los conjuntos A y B.
+ Imprima en pantalla el conjunto resultante de la intersección entre A y B.
+ Imprima en pantalla el conjunto resultante de  A - B.
+ Imprima en pantalla el conjunto resultante de  B - A.
+ Imprima en pantalla un True o False dependiendo de si los conjuntos son disconexos.
+ Imprima la diferencia simétrica entre A y B.

In [ ]:
A = {15,25,3,30,4}
B = {9,4,1,32,89,91,23}
print("A unido B", A.union(B))
print("A intersectado B",A.intersection(B))
print("A menos B", A.difference(B))
print("B menos A", B.difference(A))
print(A.isdisjoint(B))
print("Diferencia simétrica entre A y B", A.symmetric_difference(B))

A unido B {32, 1, 89, 3, 4, 9, 15, 23, 25, 91, 30}
A intersectado B {4}
A menos B {25, 3, 30, 15}
B menos A {32, 1, 9, 23, 89, 91}
False
Diferencia simétrica entre A y B {1, 3, 9, 15, 23, 89, 25, 91, 30, 32}

## Ejercicio 2

Considerando los conjuntos creados en el ejercicio 1, escriba las instrucciones necesarias para:

+ Leer un núnero y agregarlo al conjunto A
+ Leer un número y eliminarlo del conjunto B. Considere que el número ingresado debe ser un valor presente en el conjunto
+ Imprimir los conjuntos A y B.

In [ ]:
# Lee el número y lo agrega a A
nuevo = int(input("Número = "))
A.add(nuevo)
victima = int(input("Valor a eliminar de B"))
B.remove(victima)
print(A)
print(B)

Número = 259
Valor a eliminar de B89
{3, 4, 259, 15, 25, 30}
{32, 1, 4, 9, 23, 91}



---


# Ejercicios Diccionarios


---

## Ejercicio 1

Considerando la siguiente tabla de impuesto
<table>
  <thead>
    <th>Película</th>
    <th>Calificación</th>
  </thead>
  <tbody>
    <tr>
      <td>Dr. Strange</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Capitan América: civil war</td>
      <td>6</td>
    </tr>    
    <tr>
      <td>Avengers: la era de ultron</td>
      <td>8</td>
    </tr>   
    <tr>
      <td>Avengers: end game</td>
      <td>10</td>
    </tr>             
    <tr>
      <td>Pantera negra</td>
      <td>6</td>
    </tr>             
  </tbody>
</table>

Escriba las instrucciones necesarias para:
+ Crear un diccionario cuya clave sea el nombre de la película y el valor sea la calificación
+ Imprimir el contenido del diccionario

In [ ]:
# Crea el diccionario
peliculas = {"Dr. strange":7, "Capitan América: civil war":6,
             "Avengers: la era de ultron":8,
             "Avengers: end game": 10,
             "Pantera negra":6}
print(peliculas)

{'Dr. strange': 7, 'Capitan América: civil war': 6, 'Avengers: la era de ultron': 8, 'Avengers: end game': 10, 'Pantera negra': 6}

## Ejercicio 2

Considerando el diccionario del ejercicio anterior, se pide escribir las instrucciones necesarias para:

+ Leer el nombre de una película
+ Mostrar en pantalla un True o un False para saber si la película ingresada estña o no almacenada en la colección.

In [ ]:
# Lee el nombre de la película
nombre = input("Nombre película =")
nombre in peliculas

Nombre película =Pantera negra

True

## Ejercicio 3

Considerando el diccionario del ejercicio 1, se pide escribir las instrucciones necesarias para:

+ Leer el nombre de una película (una de las registradas en la colección).
+ Leer la nueva calificación de la película.
+ Cambiar el valor de la calificación registrada por la nueva calificación leída.
+ Imprimir el contenido de la colección.

In [ ]:
# Lee el nombre de la película
nombre = input("Nombre película =")
# Leer la nueva calificación
calificacion = int(input("Nueva calificación"))
peliculas[nombre] = calificacion
print(peliculas)

Nombre película =Pantera negra
Nueva calificación3
{'Dr. strange': 7, 'Capitan América: civil war': 6, 'Avengers: la era de ultron': 8, 'Avengers: end game': 10, 'Pantera negra': 3}



---


# Ejercicios Condiciones


---

## Ejercicio 1

Leer desde teclado la edad de una persona y luego imprimir un mensaje que indique si la persona es mayor de edad o no.

In [ ]:
# Lee la edad de la persona
edad = int(input("Edad de la persona = "))
if edad >= 18:
  print("Es mayor de edad")
else:
  print("No es mayor de edad")

Edad de la persona = 23
Es mayor de edad

## Ejercicio 2

Almacenar en una variable una cadena de caracteres que representa una contraseña, pedir al usuario que ingrese una contraseña e imprimir un mensaje que indique si la contraseña introducida por el usuario coincide con la guardada en la variable sin tener en cuenta mayúsculas y minúsculas.

In [ ]:
# Almacena la contraseña
passwd = "soylaclave"
clave = input("Ingrese contraseña =")
if passwd.upper() == clave.upper():
  print("Coinciden")
else:
  print("No coinciden")

Ingrese contraseña =Soylaclave
Coinciden

## Ejercicio 3

Leer dos números e imprimir el resultado de su división. Si el divisor es cero se debe mostrar un mensaje de error.

In [ ]:
# Lee los números
dividendo = int(input("Dividendo ="))
divisor = int(input("Divisor ="))
if divisor == 0:
  print("No existe la división por cero")
else:
  print("Division entera =", dividendo//divisor)
  print("Division decimal =", dividendo/divisor)

Dividendo =4
Divisor =0
No existe la división por cero

## Ejercicio 4

Leer un número entero e imprimir por pantalla un mensaje que indique si es par o impar.

In [ ]:
# Lee el número
numero = int(input("Número ="))
if numero % 2 == 0:
  print(numero, "es par")
else:
  print(numero, "es impar")

Número =29
29 es impar

## Ejercicio 5

Se ha definido un impuesto que debe pagado por las personas cuya edad está entre 20 y 33 años y tener un sueldo igual o superior a $680.000 mensuales. Escribir las instrucciones necesarias para leer la edad y sueldo de una persona e imprimir un mensaje que indique si la persona debe pagar el impuesto o no

In [ ]:
# Lee la edad y sueldo de la persona
edad = int(input("Edad ="))
sueldo = int(input("Sueldo ="))
if (edad >= 20 and edad <= 33) and sueldo >= 680000:
  print("Si paga impuesto")
else:
  print("No paga impuesto")

Edad =30
Sueldo =340000
No paga impuesto

## Ejercicio 6

Los integrantes de un grupo serán divididos en dos grupos A y B de acuerdo a su género y el nombre. El grupo A estará formado por las mujeres con un nombre anterior a la M y los hombres con un nombre posterior a la N y el grupo B por el resto. Escribir las instrucciones para leer el nombre y género de una persona e imprima el grupo que le corresponde.

In [ ]:
# Lee los datos
genero = input("Género (M)ujer / (H)ombre = ")
nombre = input("Nombre =")
if (genero == 'M' and nombre.upper() < 'M') or (genero == 'H' and nombre.upper() > 'N'):
   print("Grupo A")
else:
  print("Grupo B")

Género = M
Nombre =Valentina
Grupo B

## Ejercicio 7

Considerando la siguiente tabla de impuesto
<table>
  <thead>
    <th>Rango sueldo</th>
    <th>% sueldo que corresponde al impuesto</th>
  </thead>
  <tbody>
    <tr>
      <td>Menos de $360.000</td>
      <td>5%</td>
    </tr>
    <tr>
      <td>Entre $360.000 y menos de $500.000</td>
      <td>10%</td>
    </tr>    
    <tr>
      <td>Entre $500.000 y menos de $700.000</td>
      <td>13%</td>
    </tr>   
    <tr>
      <td>Igual o superior de $700.000</td>
      <td>20%</td>
    </tr>             
  </tbody>
</table>

Escriba las instrucciones necesarias para:
+ Leer el sueldo de una persona
+ Calcular e imprimir el monto del impuesto que debe pagar

In [ ]:
# Obtiene el sueldo
sueldo = int(input("Sueldo = "))
# Obtiene el porcentaje de acuerdo a las reglas
if (sueldo < 360000):
  porcentaje = 0.05
elif sueldo < 500000:
  porcentaje = 0.1
elif sueldo < 700000:
  porcentaje = 0.13
else:
  porcentaje = 0.2
print("Impuesto a pagar",sueldo*porcentaje)

Sueldo =450000
Impuesto a pagar 45000.0

In [ ]:
# Otra alternativa, usando solo if
sueldo = int(input("Sueldo = "))
porcentaje = 0.05
if sueldo >= 360000 and sueldo < 500000:
  porcentaje = 0.1
if sueldo >= 500000 and sueldo < 700000:
  porcentaje = 0.13
if sueldo >= 700000:
  porcentaje = 0.2
print("Impuesto a pagar",sueldo*porcentaje)

Sueldo =230000
Impuesto a pagar 11500.0

# Ejercicios Ciclos repetitivos


---

## Ejercicio 1

Considerando la tupla, se pide (usando ciclos), obtener una lista con todos los elementos de la lista

In [ ]:
x = (2,25,3,56,21,90,87,123,890)
# Crea la lista
lista = []
# Recorre la tupla
for elemento in x:
  lista.append(elemento)
print(lista)

[2, 25, 3, 56, 21, 90, 87, 123, 890]

## Ejercicio 2

Imprimir los números múltiplos de 7 entre el 1 y el 1000

In [ ]:
multiplo = 7
while multiplo < 1000:
  print(multiplo)
  multiplo+=7

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777
784
791
798
805
812
819
826
833
840
847
854
861
868
875
882
889
896
903
910
917
924
931
938
945
952
959
966
973
980
987
994

## Ejercicio 3

Leer un número entero positivo e imprimir todos los números impares desde 1 hasta el valor ingreasado separados por comas.

In [ ]:
# Lee el entero positivo
n = int(input("n = "))
# Genera los números y los dejando en una cadena de caracteres
numeros = "1"
for numero in range(3,n,2):
  numeros = numeros + "," + str(numero) 
print(numeros)

n = 8
1,3,5,7

## Ejercicio 4

Leer un número entero positivo e imprimir todos los números desde el valor ingresado hasta 0 separados por comas.

In [ ]:
# Lee el entero positivo
n = int(input("n = "))
# Genera los números y los va dejando en una cadena de caracteres
valor = n
numeros = str(n)
for i in range(1,n+1): 
  valor -= 1
  numeros = numeros + "," + str(valor)
print(numeros)

n = 9
9,8,7,6,5,4,3,2,1,0

## Ejercicio 5

Leer un número entero y un caracter e imprima en pantalla un triángulo rectángulo como el que se indica:

a

aa

aaa

aaaa

En este ejemplo se ingresa un 4 y el caracter es la letra 'a'

In [ ]:
caracter = input("Caracter = ")
n = int(input("n = "))
for i in range(n+1):
  linea = ""
  for j in range(i):
    linea = linea + caracter
  print(linea)

Caracter = 0
n = 4

0
00
000
0000

## Ejercicio 6

Leer un número entero e imprimir un triángulo rectángulo como el que se indica:

1

3 1

5 3 1

7 5 3 1

En este caso el valor ingresado fue el 7

In [ ]:
# Lee la cantidad de líneas
n = int(input("n = "))
# Genera el triangulo
for i in range(1,n+1,2):
  linea = ""
  valor = i
  while valor >= 1:
    linea = linea + str(valor) + " "
    valor -= 2
  print(linea)

n = 7
1
3 1
5 3 1
7 5 3 1

## Ejercicio 7

Almacenar en una variable un número que represente un número a adivinar y permitir al usuario ingresar un número hasta que acierte. Al final deberá inidcar la cantidad de intentos que tuvo antes de acertar.

In [ ]:
# Guarda el número a adivinar
adivinado = 29
intento = 0
while True:
  numero = int(input("El número será? "))
  if numero == adivinado:
    break
  else:
    intento += 1
print("El número fue adivinado después de", intento, "intentos")

El número será? 23
El número será? 45
El número será? 56
El número será? 29
El número fue adivinado después de 3 intentos

## Ejercicio 8

Escribir las instrucciones necesarias para:

+ Leer un número entero ***n***.
+ Leer n valores enteros y guardarlos en una lista llamada ***numeros***.
+ Imprimir la suma de los valores almacenados en la lista; deberá recorrer la lista.
+ Imprimir el promedio de los valores almacenados en la lista; deberá recorrer la lista.
+ Imprimir los elementos de la lista que son mayores al promedio.

In [ ]:
# Lee el valor de n
n = int(input("n = "))
numeros = []
for i in range(n):
  valor = int(input("Núnero = "))
  numeros.append(valor)
# Recorre la lista
suma = 0
for valor in numeros:
  suma += valor
# Calcula el promedio
promedio = suma/n
print("Suma =", suma, "Promedio =", promedio)
# Obtiene los elementos mayores al promedio
print("Valores de la lista mayores al promedio")
for valor in numeros:
  if valor > promedio:
    print(valor)

n = 4
Núnero = 15
Núnero = 5
Núnero = 30
Núnero = 4
Suma = 54 Promedio = 13.5
Valores de la lista mayores al promedio
15
30

## Ejercicio 9

Escribir las instrucciones necesarias para:

+ Crea un diccionario donde la clave sea el nombre de la asignatura de un estudiante y el valor sea la nota final que obtuvo un estudiante en la asignatura (es necesario validar que la nota esté dentro del intervalo [1,7]).

+ Una vez que se hayan ingresado todas las asignaturas (ver lista de consideraciones) se deberá imprimir: 

>  *   El promedio de notas considerando todas las asignaturas registradas en el diccionario
>  *   Nombre de todas las asignaturas registradas, indicando su nota y un mensaje que diga si están aprobadas o no.


CONSIDERACIONES. 
+ El usuario debe poder ingresar asignaturas y notas hasta que se ingrese un "-".
+ No se podrán ingresar asignaturas repetidas, por lo tanto, si se ingresa una asignatura repetida se debe imprimir un mensaje advirtiendo al usuario del inconveniente.

In [ ]:
datos = dict()
# Leer los datos de las asignaturas
while True:
  # Obtiene la asignatura
  asignatura = input("Nombre asignatura : ")
  # Verifica si quiere salir
  if asignatura == '-':
    break
  # Obtiene y valida la nota
  while True:
    nota = float(input("Nota : "))
    # Valida la nota
    if nota >= 1 and nota <= 7:
      break
    else:
      print("Valor de nota es inválido. Intente nuevamente")
  # Agrega los datos al diccionario
  datos[asignatura] = nota
# Obtención del promedio
suma = 0
for nota in datos.values():
  suma += nota
promedio = suma/len(datos.keys())
print("Promedio :", promedio)
# Imprime datos de las asignaturas
for asignatura in datos.keys():
  nota = datos.get(asignatura)
  print("Asignatura :", asignatura, '- Nota :', nota)
  if nota >= 4:
    print("Aprobada")
  else:
    print("Reprobada")

Nombre asignatura : CALCULO
Nota : 6.7
Nombre asignatura : PROGRAMACION
Nota : 6.3
Nombre asignatura : INGLES
Nota : 5.5
Nombre asignatura : ALGEBRA
Nota : 3.5
Nombre asignatura : -
Promedio : 5.5
CALCULO -nota : 6.7
Aprobada
PROGRAMACION -nota : 6.3
Aprobada
INGLES -nota : 5.5
Aprobada
ALGEBRA -nota : 3.5
Reprobada